body {
  font-family: $helvetica;
  background: $color-background;
  color: $color-text-primary;
  @include grid-visual;
}

a {
  color: $color-primary;
  text-decoration: none;
  transition: .1s ease all;
}

a:hover {
  color: $color-link-hover;
}
