header {
  text-align: center;
  background-color: $color-primary;
  padding-top: 3rem;
  padding-bottom: 3rem;
  min-height: 10rem;
}

header img {
  width: 100px;
  height: 75px;
}

h1 {
  color: $color-text-primary;
  position: relative;
  max-width: 20rem;
  margin: 3rem auto 0 auto;
  padding: 0;
  font-size: 2rem;
}


.logo-cycling {
  border-top: 1.25rem solid $color-background;
  border-right: 1.25rem solid transparent;
  border-bottom: 1.25rem solid $color-background;
  border-left: 1.25rem solid $color-background;
  border-radius: 50%;
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
