
// variables for page layout
$medium-and-up: min-width 700px;
$large-and-up: min-width 1100px;

$max-width-main-column: 60rem;
$padding-sides-for-full-width: 2rem;


// mixins for page layout
@mixin main-column-centered($width) {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: $width;
}



header {
  padding-right: $padding-sides-for-full-width;
  padding-left: $padding-sides-for-full-width;
}


main {
  @include main-column-centered($max-width-main-column);
}


footer {
  padding-right: $padding-sides-for-full-width;
  padding-left: $padding-sides-for-full-width;
}

.tagline {
  @include main-column-centered($max-width-main-column*.6);

}

.marketing-message {
  @include main-column-centered($max-width-main-column*.6);
}

.contact {
  @include main-column-centered($max-width-main-column*.6);
}
